:root {
  --text-main: #333333;
  --text-faded: #9b9b9b;
  --efood-red: #ed2d2e;
  --efood-green: #00bc8c;
  --white: #fff;
  --background-color: #edf7ee;
}

::selection {
  color: var(--white);
  background: var(--efood-red);
}

.normal-text {
  color: var(--text-main);
}

.faded-text {
  color: var(--text-faded);
}

.highlighted-text {
  color: var(--efood-green);
  font-weight: bold;
}

.with-background {
  background-color: var(--background-color);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

.fw-700 {
  font-weight: 700;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1_2 {
  font-size: 1.2rem;
}

.fs-1_5 {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

/* ---------- Popup CSS ---------- */


body {
  width: 550px;
  height: auto;
  min-height: 160px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

#no-orders {
  display: none;
  padding: 1rem;
}

#view-analytics {
  font-size: .8rem;
}

#view-analytics {
  margin-bottom: 1rem;
}

#view-analytics > a {
  color: var(--efood-red);
}

.order-now {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.order-now a img {
  width: 50px;
  height: 50px;
}

.visit-efood a {
  color: var(--efood-red);
  font-weight: bold;
  text-decoration: none;
}

.visit-efood a:hover {
  text-decoration: underline;
}

.orders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.order {
  height: auto;
  background-color: var(--white);
  border-radius: 9px;
  padding: .5rem 1rem .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
}

.store-info {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#store-logo {
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 25px 6px rgba(64,64,64,0.12);
}

.order-info-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#remind-order {
  background: none;
  color: var(--efood-green);
  border: none;
  padding: .5rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

#remind-order:hover {
  cursor: pointer;
}

#remind-order[data-toggle="off"] #word-to-change {
  text-decoration: line-through;
}

#remind-order-arrow {
  margin-right: .3rem;
  filter: invert(56%) sepia(29%) saturate(6103%) hue-rotate(131deg) brightness(97%) contrast(101%);
}

#order-items > ul {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
  list-style: none;
  padding: 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--text-main);
  cursor: default;
}

#order-items.open > ul {
  opacity: 1;
  max-height: 400px;
  transition: max-height 0.4s ease-in;
  cursor: auto;
}

#order-items > ul > li {
  margin-bottom: .4rem;
}

.item-quantity {
  background-color: #F7F7F7;
  font-weight: bold;
  padding: .1rem .3rem;
  margin-right: .3rem;
}

.item-price {
  font-weight: bold;
}

.item-details {
  width: 40ch;
  font-size: 0.8rem;
}

.order-notes {
  display: flex;
  gap: .5rem;
}

.action-buttons {
  height: auto;
  min-height: 124px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.action-buttons button {
  border: none;
}

.action-buttons button:hover {
  cursor: pointer;
}

#order-done,
#bug-report {
  width: 17px;
  height: 17px;
  background-color: #f7f7f7;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#order-done {
  top: 40px;
}

#bug-report {
  bottom: 40px;
}

#order-done img,
#bug-report img {
  width: 12px;
  height: 12px;
  filter: invert(52%) sepia(7%) saturate(0%) hue-rotate(160deg) brightness(95%)
    contrast(82%);
}

#more-actions {
  width: 45px;
  height: 45px;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  z-index: 2;
}

#more-actions img {
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  filter: invert(52%) sepia(68%) saturate(1154%) hue-rotate(124deg)
    brightness(90%) contrast(101%);
}

.action-buttons.all-visible #order-done {
  animation-name: back-top;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  top: 0;
}

.action-buttons.all-visible #bug-report {
  animation-name: back-bottom;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  bottom: 0;
}

@keyframes back-top {
  0% {
    top: 30px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 23px;
  }
  30% {
    top: 20px;
  }
  40% {
    top: 10px;
  }
  60% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@keyframes back-bottom {
  0% {
    bottom: 30px;
  }
  10% {
    bottom: 25px;
  }
  20% {
    bottom: 23px;
  }
  30% {
    bottom: 20px;
  }
  40% {
    bottom: 10px;
  }
  60% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}